@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="clsf">
    <h1>We're gonna attack tonight</h1>
    <p>Please be prepared and ready by 20:00 IST</p>
</div>
