@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome</h3>
    <h1>ONLY if you have the right clasification press here</h1>
    <a asp-action="classified" class="text-center btn btn-danger">VERY CLASSIFIED</a>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
